# Unity generated
/Chicken Run/[Ll]ibrary/
/Chicken Run/[Tt]emp/
/Chicken Run/[Oo]bj/
/Chicken Run/[Bb]uild/
/Chicken Run/[Bb]uilds/
/Chicken Run/[Ll]ogs/
/Chicken Run/[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln
*.csproj
ExportedObj/
.consulo/
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Crashes
sysinfo.txt
/[Cc]rash[Rr]eporter/

# Asset meta data should only be ignored when the associated asset is also ignored
!/[Aa]ssets/**/*.meta